.countryPage{
  width: 100vw;
  height: 100vh;
}
.countryPage .container{
  display: flex;;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.countryPage .container .countries{
  margin-top: 1rem;
  padding: 1rem;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(10,1fr);
  grid-template-rows: repeat(auto,1fr);
  gap: 1rem;
  margin: auto;
}
@media only screen and (max-width: 700px) {
  .countryPage .container .countries{
    grid-template-columns: repeat(5,1fr);
  }
}

@media only screen and (max-width: 576px) {
  .countryPage .container .countries{
    grid-template-columns: repeat(2,1fr);
  }
}

.graph{
  width: 100%;
  height: fit-content;
}
#myChart,#myChart2{
  width: 100vw;
}
.header{
  margin: 2rem 0;
  display: flex;;
  justify-content: center;
  align-items: center;;
}